.iconsFA {
  text-decoration: none !important;
  display: flex;
  margin-right: 5rem;
  justify-content:space-around;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
}
.afipQR {
  max-width: 50px;
}

.lis{
  margin-bottom: 1rem;
  list-style:none;
}

.ha3{
  font-weight:lighter;
}

.containerfooter{
margin-left: 10rem;
margin-right: 10rem; 
display: flex;
padding: 0.5rem;
color: rgb(3, 78, 162);
}

.containers1{
  height: 10rem;
  width: 25rem;
  text-align: left;
  padding: 1.5rem;
  position: relative;
  }

  .containers1:after {
    margin: 1rem;
    content: '';
    height: 80%;
    width: 0.5px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
  }

  .containers2{
    height: 10rem;
    width: 25rem;
    padding-left: 0rem;
    text-align: center;
  padding: 0.5rem;
  position: relative;
    }
  
    .containers2:after {
      margin: 1rem;
      content: '';
      height: 80%;
      width: 0.5px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #000000;
    }

    .containers3{
      height: 10rem;
      width: 25rem;
      text-align: right;
      padding: 1.5rem;
      }