@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.container {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}

.fondo1 { 
  background-image: url("../img/0.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
  text-align: center;
padding-top: 12vw;

font-size: 1.5rem;
font-family: Montserrat;

}
.img1h1{
font-size: 4rem;
font-weight: 14;
  margin: -1rem;  color: rgb(3, 78, 162);
}

.img1h12{
  font-size: 4rem;
  font-weight: 800;

  font-family: 'Montserrat', sans-serif;
    margin: 0rem;  color: rgb(3, 78, 162);
  }

.img1h6{color: #fafafa;
  margin: 0rem;
  font-size: 0.9rem;
  font-weight: 14;
}

  .fondo2 { 
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
    height: 1000px;
    width: -webkit-fill-available;
    max-height: 100vw;
  opacity: 0.4;
  display:flex
  }

  .fondo2txt {
    padding-top: 11.5rem;
 text-align: center;
 position: relative;
 bottom: 63rem;
  }

  .img2h6{color: rgba(0, 0, 0);
  margin: 0.2rem;
  font-weight: 14;
  font-size: 0.8rem;}

 .containerh6{
  margin-left: 25rem;
  margin-right: 25rem; }

  #img2h62 p {
    color: rgba(0, 0, 0);
    font-weight: 20;
    font-size: 0.8rem;
  }
  #img2h62 span{
    color: rgb(3, 78, 162);
    
    font-weight: bold;
    }
  .img2h63{color: rgba(0, 0, 0);
 
  margin-top: -0.9rem;
 
}

 .containerh1 {
  display: inline-flex;
  margin: -0.6rem;
 }

    .img2h1{color: rgba(0, 0, 0);
      margin: 0rem;
     
      margin-right: 1rem;
font-weight: 30;
      font-size: 3rem;}

      .img2h12{color: rgb(3, 78, 162);
        margin: 0rem;
  font-weight: bold;
  
        font-size: 3rem;}

.imgli{
  background-image: url("../img/2.jpg");
  background-size:cover;
  border-radius: 1rem;
  -webkit-filter: brightness(80%);
filter: brightness(80%);
  height: 15rem;
  width: 15rem;
  display: flex;
  
}

.containerli {
  border-radius: 1rem;
}

.lii{
  color:#fafafa;
  font-size: x-large;
    font-weight: bold;
    position: relative;
    bottom: 130px;
}