.fondo {
  background-color: #034ea2;
  height: 3rem;
  padding: 0.5rem;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.item {
  color: white;
  list-style-type: none;
  display: inline-flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text {
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
  padding: 10px 5px;
}
