.fondo {
  background-color: #034ea2;
  height: 100px;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.item {
  color: white;
  list-style-type: none;
  display: inline-flex;
  /* margin: 1em; */
}
.text {
  text-decoration: none;
  font-size: 12px;
  padding: 10px 5px;
}
